zip
./currency-conversion-service/target
./currency-exchange-service/target
./limits-service/target
./netflix-eureka-naming-server/target
./netflix-zuul-api-gateway-server/target
./spring-cloud-config-server/target